@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Home Page";
}


<body class="index-page">
    <div class="container">
        <main>

            <!-- Hero Section -->
            <section id="hero" class="hero section dark-background">

                <img src="~/img/thisWhatItIs.jpg" alt="" data-aos="fade-in">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-10">
                            <h2 data-aos="fade-up" data-aos-delay="100">Welcome to Loralei Hair Designer</h2>
                        </div>
                        <div class="col-lg-5" data-aos="fade-up" data-aos-delay="300">
                            <form action="forms/newsletter.php" method="post" class="php-email-form">
                                <div class="sign-up-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your subscription request has been sent. Thank you!</div>
                            </form>
                        </div>
                    </div>
                </div>

            </section><!-- /Hero Section -->
            <!-- About Section -->
            <section id="features" class="features section">

                <!-- Section Title -->
                <div class="container section-title" data-aos="fade-up">
                    <h2>About Us</h2>
                </div><!-- End Section Title -->

                <div class="container">

                    <div class="row gy-4 align-items-center features-item">
                        <div class="col-lg-5 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                            <h3>Loralei Hair Designer Studio</h3>
                            <p>
                                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                            </p>
                            <a href="#" class="btn btn-get-started">Learn More</a>
                        </div>
                        <div class="col-lg-7 order-1 order-lg-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
                            <div class="image-stack">
                                <img src="~/img/features-light-1.jpg" alt="" class="stack-front">
                                <img src="~/img/features-light-2.jpg" alt="" class="stack-back">
                            </div>
                        </div>
                    </div><!-- Features Item -->

                    <div class="row gy-4 align-items-stretch justify-content-between features-item ">
                        <div class="col-lg-6 d-flex align-items-center features-img-bg" data-aos="zoom-out">
                            <img src="~/img/features-light-3.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-5 d-flex justify-content-center flex-column" data-aos="fade-up">
                            <h3>Proffessional Services</h3>
                            <p>Cupiditate placeat cupiditate placeat est ipsam culpa. Delectus quia minima quod. Sunt saepe odit aut quia voluptatem hic voluptas dolor doloremque.</p>
                            <ul>
                                <li><i class="bi bi-check"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
                                <li><i class="bi bi-check"></i><span> Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>
                                <li><i class="bi bi-check"></i> <span>Facilis ut et voluptatem aperiam. Autem soluta ad fugiat</span>.</li>
                            </ul>
                            <a href="#" class="btn btn-get-started align-self-start">Discover</a>
                        </div>
                    </div><!-- Features Item -->

                </div>

            </section><!-- /Features Section -->
            <!-- Stats Section -->
            <section id="stats" class="stats section dark-background">

                <img src="~/img/stats-bg.jpg" alt="" data-aos="fade-in">

                <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

                    <div class="row gy-4">

                        <div class="col-lg-3 col-md-6">
                            <div class="stats-item text-center w-100 h-100">
                                <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Clients</p>
                            </div>
                        </div><!-- End Stats Item -->

                        <div class="col-lg-3 col-md-6">
                            <div class="stats-item text-center w-100 h-100">
                                <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Studios</p>
                            </div>
                        </div><!-- End Stats Item -->

                        <div class="col-lg-3 col-md-6">
                            <div class="stats-item text-center w-100 h-100">
                                <span data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Workers</p>
                            </div>
                        </div><!-- End Stats Item -->

                    </div>

                </div>

            </section><!-- /Stats Section -->
            <!-- Services Section -->
            <section id="services" class="services section">

                <!-- Section Title -->
                <div class="container section-title" data-aos="fade-up">
                    <h2>Services</h2>
                    <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
                </div><!-- End Section Title -->

                <div class="container">

                    <div class="row gy-4">

                        <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="100">
                            <div class="service-item d-flex">
                                <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
                                <div>
                                    <h4 class="title"><a href="services-details.html" class="stretched-link">Hair Care</a></h4>
                                    <p class="description">"Restore the health and shine of your hair with our expert care. The right treatment is essential for vibrant and strong hair."</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Service Item -->

                        <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="200">
                            <div class="service-item d-flex">
                                <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
                                <div>
                                    <h4 class="title"><a href="services-details.html" class="stretched-link">Haircut</a></h4>
                                    <p class="description">"Where artistry and professionalism meet in haircuts. Redefine your look with innovative touches."</p>
                                </div>
                            </div>
                        </div><!-- End Service Item -->

                        <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="300">
                            <div class="service-item d-flex">
                                <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
                                <div>
                                    <h4 class="title"><a href="services-details.html" class="stretched-link">Hair Coloring</a></h4>
                                    <p class="description">"Bring your dream colors to life with shades that perfectly match your style. Say goodbye to ordinary, and embrace the extraordinary!"</p>
                                </div>
                            </div>
                        </div><!-- End Service Item -->

                        <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="400">
                            <div class="service-item d-flex">
                                <div class="icon flex-shrink-0"><i class="bi bi-binoculars"></i></div>
                                <div>
                                    <h4 class="title"><a href="services-details.html" class="stretched-link">Proffessional Makeup</a></h4>
                                    <p class="description">"We highlight your beauty with attention to detail. Shine brightly in every moment with professional makeup."</p>
                                </div>
                            </div>
                        </div><!-- End Service Item -->

                        <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="500">
                            <div class="service-item d-flex">
                                <div class="icon flex-shrink-0"><i class="bi bi-brightness-high"></i></div>
                                <div>
                                    <h4 class="title"><a href="services-details.html" class="stretched-link">Nail Art</a></h4>
                                    <p class="description">"Give your nails a unique look with artistic touches. The perfect destination for exclusive designs!"</p>
                                </div>
                            </div>
                        </div><!-- End Service Item -->

                        <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="600">
                            <div class="service-item d-flex">
                                <div class="icon flex-shrink-0"><i class="bi bi-calendar4-week"></i></div>
                                <div>
                                    <h4 class="title"><a href="services-details.html" class="stretched-link">Skin Care</a></h4>
                                    <p class="description">"Experience professional treatments for healthy and radiant skin. Let your natural beauty shine!"</p>
                                </div>
                            </div>
                        </div><!-- End Service Item -->

                    </div>

                </div>

            </section><!-- /Services Section -->
            <!-- Portfolio Section -->
            <section id="portfolio" class="portfolio section">

                <!-- Section Title -->
                <div class="container section-title" data-aos="fade-up">
                    <h2>Portfolio</h2>
                    <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
                </div><!-- End Section Title -->

                <div class="container">

                    <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

                        <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                            <li data-filter="*" class="filter-active">Hair Care</li>
                            <li data-filter=".filter-app">Haircut</li>
                            <li data-filter=".filter-product">Hair Coloring</li>
                            <li data-filter=".filter-branding">Makeup</li>
                            <li data-filter=".filter-branding">Nail Art</li>
                            <li data-filter=".filter-branding">Skin Care</li>
                        </ul><!-- End Portfolio Filters -->

                        <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

                            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                                <img src="~/img/masonry-portfolio/masonry-portfolio-1.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>App 1</h4>
                                    <p>Lorem ipsum, dolor sit</p>
                                    <a href="~/img/masonry-portfolio/masonry-portfolio-1.jpg" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div><!-- End Portfolio Item -->

                            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                                <img src="~/img/masonry-portfolio/masonry-portfolio-2.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Product 1</h4>
                                    <p>Lorem ipsum, dolor sit</p>
                                    <a href="~/img/masonry-portfolio/masonry-portfolio-2.jpg" title="Product 1" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div><!-- End Portfolio Item -->

                            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                                <img src="~/img/masonry-portfolio/masonry-portfolio-3.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Branding 1</h4>
                                    <p>Lorem ipsum, dolor sit</p>
                                    <a href="~/img/masonry-portfolio/masonry-portfolio-3.jpg" title="Branding 1" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div><!-- End Portfolio Item -->

                            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                                <img src="~/img/masonry-portfolio/masonry-portfolio-4.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>App 2</h4>
                                    <p>Lorem ipsum, dolor sit</p>
                                    <a href="~/img/masonry-portfolio/masonry-portfolio-4.jpg" title="App 2" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div><!-- End Portfolio Item -->

                            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                                <img src="~/img/masonry-portfolio/masonry-portfolio-5.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Product 2</h4>
                                    <p>Lorem ipsum, dolor sit</p>
                                    <a href="~/img/masonry-portfolio/masonry-portfolio-5.jpg" title="Product 2" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div><!-- End Portfolio Item -->

                            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                                <img src="~/img/masonry-portfolio/masonry-portfolio-6.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Branding 2</h4>
                                    <p>Lorem ipsum, dolor sit</p>
                                    <a href="~/img/masonry-portfolio/masonry-portfolio-6.jpg" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div><!-- End Portfolio Item -->

                            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                                <img src="~/img/masonry-portfolio/masonry-portfolio-7.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>App 3</h4>
                                    <p>Lorem ipsum, dolor sit</p>
                                    <a href="~/img/masonry-portfolio/masonry-portfolio-7.jpg" title="App 3" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div><!-- End Portfolio Item -->

                            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                                <img src="~/img/masonry-portfolio/masonry-portfolio-8.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Product 3</h4>
                                    <p>Lorem ipsum, dolor sit</p>
                                    <a href="~/img/masonry-portfolio/masonry-portfolio-8.jpg" title="Product 3" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div><!-- End Portfolio Item -->

                            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                                <img src="~/img/masonry-portfolio/masonry-portfolio-9.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Branding 3</h4>
                                    <p>Lorem ipsum, dolor sit</p>
                                    <a href="~/img/masonry-portfolio/masonry-portfolio-9.jpg" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div><!-- End Portfolio Item -->

                        </div><!-- End Portfolio Container -->

                    </div>

                </div>

            </section><!-- /Portfolio Section -->
            <!-- Pricing Section -->
            <section id="pricing" class="pricing section">

                <!-- Section Title -->
                <div class="container section-title" data-aos="fade-up">
                    <h2>Pricing</h2>
                    <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
                </div><!-- End Section Title -->

                <div class="container" data-aos="zoom-in" data-aos-delay="100">

                    <div class="row g-4">

                        <div class="col-lg-4">
                            <div class="pricing-item">
                                <h3>Free Plan</h3>
                                <div class="icon">
                                    <i class="bi bi-box"></i>
                                </div>
                                <h4><sup>$</sup>0<span> / month</span></h4>
                                <ul>
                                    <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span></li>
                                    <li><i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span></li>
                                    <li><i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span></li>
                                    <li class="na"><i class="bi bi-x"></i> <span>Pharetra massa massa ultricies</span></li>
                                    <li class="na"><i class="bi bi-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>
                                </ul>
                                <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
                            </div>
                        </div><!-- End Pricing Item -->

                        <div class="col-lg-4">
                            <div class="pricing-item featured">
                                <h3>Business Plan</h3>
                                <div class="icon">
                                    <i class="bi bi-rocket"></i>
                                </div>

                                <h4><sup>$</sup>29<span> / month</span></h4>
                                <ul>
                                    <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span></li>
                                    <li><i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span></li>
                                    <li><i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span></li>
                                    <li><i class="bi bi-check"></i> <span>Pharetra massa massa ultricies</span></li>
                                    <li><i class="bi bi-check"></i> <span>Massa ultricies mi quis hendrerit</span></li>
                                </ul>
                                <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
                            </div>
                        </div><!-- End Pricing Item -->

                        <div class="col-lg-4">
                            <div class="pricing-item">
                                <h3>Developer Plan</h3>
                                <div class="icon">
                                    <i class="bi bi-send"></i>
                                </div>
                                <h4><sup>$</sup>49<span> / month</span></h4>
                                <ul>
                                    <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span></li>
                                    <li><i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span></li>
                                    <li><i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span></li>
                                    <li><i class="bi bi-check"></i> <span>Pharetra massa massa ultricies</span></li>
                                    <li><i class="bi bi-check"></i> <span>Massa ultricies mi quis hendrerit</span></li>
                                </ul>
                                <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
                            </div>
                        </div><!-- End Pricing Item -->

                    </div>

                </div>

            </section><!-- /Pricing Section -->
            <!-- Team Section -->
            <section id="team" class="team section light-background">

                <!-- Section Title -->
                <div class="container section-title" data-aos="fade-up">
                    <h2>Team</h2>
                    <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
                </div><!-- End Section Title -->

                <div class="container">

                    <div class="row gy-5">

                        <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
                            <div class="member-img">
                                <img src="~/img/team/team-1.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                                    <a href="#"><i class="bi bi-facebook"></i></a>
                                    <a href="#"><i class="bi bi-instagram"></i></a>
                                    <a href="#"><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info text-center">
                                <h4>Walter White</h4>
                                <span>Chief Executive Officer</span>
                                <p>Aliquam iure quaerat voluptatem praesentium possimus unde laudantium vel dolorum distinctio dire flow</p>
                            </div>
                        </div><!-- End Team Member -->

                        <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
                            <div class="member-img">
                                <img src="~/img/team/team-2.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                                    <a href="#"><i class="bi bi-facebook"></i></a>
                                    <a href="#"><i class="bi bi-instagram"></i></a>
                                    <a href="#"><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info text-center">
                                <h4>Sarah Jhonson</h4>
                                <span>Product Manager</span>
                                <p>Labore ipsam sit consequatur exercitationem rerum laboriosam laudantium aut quod dolores exercitationem ut</p>
                            </div>
                        </div><!-- End Team Member -->

                        <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
                            <div class="member-img">
                                <img src="~/img/team/team-3.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                                    <a href="#"><i class="bi bi-facebook"></i></a>
                                    <a href="#"><i class="bi bi-instagram"></i></a>
                                    <a href="#"><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info text-center">
                                <h4>William Anderson</h4>
                                <span>CTO</span>
                                <p>Illum minima ea autem doloremque ipsum quidem quas aspernatur modi ut praesentium vel tque sed facilis at qui</p>
                            </div>
                        </div><!-- End Team Member -->

                        <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">
                            <div class="member-img">
                                <img src="~/img/team/team-4.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                                    <a href="#"><i class="bi bi-facebook"></i></a>
                                    <a href="#"><i class="bi bi-instagram"></i></a>
                                    <a href="#"><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info text-center">
                                <h4>Amanda Jepson</h4>
                                <span>Accountant</span>
                                <p>Magni voluptatem accusamus assumenda cum nisi aut qui dolorem voluptate sed et veniam quasi quam consectetur</p>
                            </div>
                        </div><!-- End Team Member -->

                        <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
                            <div class="member-img">
                                <img src="~/img/team/team-5.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                                    <a href="#"><i class="bi bi-facebook"></i></a>
                                    <a href="#"><i class="bi bi-instagram"></i></a>
                                    <a href="#"><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info text-center">
                                <h4>Brian Doe</h4>
                                <span>Marketing</span>
                                <p>Qui consequuntur quos accusamus magnam quo est molestiae eius laboriosam sunt doloribus quia impedit laborum velit</p>
                            </div>
                        </div><!-- End Team Member -->

                        <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">
                            <div class="member-img">
                                <img src="~/img/team/team-6.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                                    <a href="#"><i class="bi bi-facebook"></i></a>
                                    <a href="#"><i class="bi bi-instagram"></i></a>
                                    <a href="#"><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info text-center">
                                <h4>Josepha Palas</h4>
                                <span>Operation</span>
                                <p>Sint sint eveniet explicabo amet consequatur nesciunt error enim rerum earum et omnis fugit eligendi cupiditate vel</p>
                            </div>
                        </div><!-- End Team Member -->

                    </div>

                </div>

            </section><!-- /Team Section -->
            <!-- Call To Action Section -->
            <section id="call-to-action" class="call-to-action section dark-background">

                <img src="~/img/cta-bg.jpg" alt="">

                <div class="container">
                    <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
                        <div class="col-xl-10">
                            <div class="text-center">
                                <h3>Take An AI Impression</h3>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <a class="cta-btn" href="#">AI</a>
                            </div>
                        </div>
                    </div>
                </div>

            </section><!-- /Call To Action Section -->
            <!-- Testimonials Section -->
            <section id="testimonials" class="testimonials section light-background">

                <div class="container">

                    <div class="row align-items-center">

                        <div class="col-lg-5 info" data-aos="fade-up" data-aos-delay="100">
                            <h3>Testimonials</h3>
                            <p>
                                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                            </p>
                        </div>

                        <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">

                            <div class="swiper init-swiper">
                                <script type="application/json" class="swiper-config">
                                    {
                                      "loop": true,
                                      "speed": 600,
                                      "autoplay": {
                                        "delay": 5000
                                      },
                                      "slidesPerView": "auto",
                                      "pagination": {
                                        "el": ".swiper-pagination",
                                        "type": "bullets",
                                        "clickable": true
                                      }
                                    }
                                </script>
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide">
                                        <div class="testimonial-item">
                                            <div class="d-flex">
                                                <img src="~/img/testimonials/testimonials-1.jpg" class="testimonial-img flex-shrink-0" alt="">
                                                <div>
                                                    <h3>Saul Goodman</h3>
                                                    <h4>Ceo &amp; Founder</h4>
                                                    <div class="stars">
                                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <p>
                                                <i class="bi bi-quote quote-icon-left"></i>
                                                <span>Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.</span>
                                                <i class="bi bi-quote quote-icon-right"></i>
                                            </p>
                                        </div>
                                    </div><!-- End testimonial item -->

                                    <div class="swiper-slide">
                                        <div class="testimonial-item">
                                            <div class="d-flex">
                                                <img src="~/img/testimonials/testimonials-2.jpg" class="testimonial-img flex-shrink-0" alt="">
                                                <div>
                                                    <h3>Sara Wilsson</h3>
                                                    <h4>Designer</h4>
                                                    <div class="stars">
                                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <p>
                                                <i class="bi bi-quote quote-icon-left"></i>
                                                <span>Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.</span>
                                                <i class="bi bi-quote quote-icon-right"></i>
                                            </p>
                                        </div>
                                    </div><!-- End testimonial item -->

                                    <div class="swiper-slide">
                                        <div class="testimonial-item">
                                            <div class="d-flex">
                                                <img src="~/img/testimonials/testimonials-3.jpg" class="testimonial-img flex-shrink-0" alt="">
                                                <div>
                                                    <h3>Jena Karlis</h3>
                                                    <h4>Store Owner</h4>
                                                    <div class="stars">
                                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <p>
                                                <i class="bi bi-quote quote-icon-left"></i>
                                                <span>Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.</span>
                                                <i class="bi bi-quote quote-icon-right"></i>
                                            </p>
                                        </div>
                                    </div><!-- End testimonial item -->

                                    <div class="swiper-slide">
                                        <div class="testimonial-item">
                                            <div class="d-flex">
                                                <img src="~/img/testimonials/testimonials-4.jpg" class="testimonial-img flex-shrink-0" alt="">
                                                <div>
                                                    <h3>Matt Brandon</h3>
                                                    <h4>Freelancer</h4>
                                                    <div class="stars">
                                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <p>
                                                <i class="bi bi-quote quote-icon-left"></i>
                                                <span>Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.</span>
                                                <i class="bi bi-quote quote-icon-right"></i>
                                            </p>
                                        </div>
                                    </div><!-- End testimonial item -->

                                    <div class="swiper-slide">
                                        <div class="testimonial-item">
                                            <div class="d-flex">
                                                <img src="~/img/testimonials/testimonials-5.jpg" class="testimonial-img flex-shrink-0" alt="">
                                                <div>
                                                    <h3>John Larson</h3>
                                                    <h4>Entrepreneur</h4>
                                                    <div class="stars">
                                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <p>
                                                <i class="bi bi-quote quote-icon-left"></i>
                                                <span>Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.</span>
                                                <i class="bi bi-quote quote-icon-right"></i>
                                            </p>
                                        </div>
                                    </div><!-- End testimonial item -->

                                </div>
                                <div class="swiper-pagination"></div>
                            </div>

                        </div>

                    </div>

                </div>

            </section><!-- /Testimonials Section -->
            <!-- ...... Section -->
            <section id="about" class="about section light-background">

                <div class="container" data-aos="fade-up" data-aos-delay="100">
                    <div class="row align-items-xl-center gy-5">

                        <div class="col-xl-7">
                            <div class="row gy-4 icon-boxes">

                                <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                                    <div class="icon-box">
                                        <i class="bi bi-buildings"></i>
                                        <h3>Eius provident</h3>
                                        <p>Magni repellendus vel ullam hic officia accusantium ipsa dolor omnis dolor voluptatem</p>
                                    </div>
                                </div> <!-- End Icon Box -->

                                <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                                    <div class="icon-box">
                                        <i class="bi bi-clipboard-pulse"></i>
                                        <h3>Rerum aperiam</h3>
                                        <p>Autem saepe animi et aut aspernatur culpa facere. Rerum saepe rerum voluptates quia</p>
                                    </div>
                                </div> <!-- End Icon Box -->

                                <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                                    <div class="icon-box">
                                        <i class="bi bi-command"></i>
                                        <h3>Veniam omnis</h3>
                                        <p>Omnis perferendis molestias culpa sed. Recusandae quas possimus. Quod consequatur corrupti</p>
                                    </div>
                                </div> <!-- End Icon Box -->

                                <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                                    <div class="icon-box">
                                        <i class="bi bi-graph-up-arrow"></i>
                                        <h3>Delares sapiente</h3>
                                        <p>Sint et dolor voluptas minus possimus nostrum. Reiciendis commodi eligendi omnis quideme lorenda</p>
                                    </div>
                                </div> <!-- End Icon Box -->

                            </div>
                        </div>

                    </div>
                </div>

            </section><!-- /About Section -->
        </main>

    </div>

</body>

